.container{

}
.rightside h1{
    color: rgb(24, 24, 71);
}
.rightside p{
    color: rgb(24, 24, 71);
}
.you_charge{
    text-decoration: underline;
    color: red;
}
#contact_us{
    text-decoration: underline;
    font-weight: bolder;
}
.improve{
    border: solid 1px;
   
}

.improve p{
    font-size: 12px;

}
.top_part{
    display: flex;
    gap: 2%;
    
}
.login{
    width:fit-content
}
@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
.options{
    display: flex;
    gap: 5%;
    margin-left: 10%;
   
}
.options li{
    list-style: none;
    display: inline;
    gap: 7%;
}
a{
    text-decoration: none;
    color: black;
}
.apps_download{
    display: flex;
    gap: 3%;
}
.app_store{
    border: solid 1px;
    width: 8%;
    height: 20px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(54, 54, 70);
    border-radius: 8%;
}

.playstore{
    border: solid 1px;
    width: 8%;
    height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 8%;
}

.playstorelogo{
    width: 10%;
      
}
.customer_card{
    border: solid 1px;
    width: 20%;
}
#customer_image{
    width:55px;
    height: 55px;
    border-radius: 50%;
}
.product{
    border: solid 1px;
    background-color: rgb(241, 241, 252);
}
#beardman{
    width: 20%;
    border-radius: 12%;
   
}
.speed{
    border: solid 1px;
    width: 15%;
}
.speed_number{
    margin-left: 50%;
   
}
.partners{
    border: solid 1px;
  
    
}
#microsoft{
    width: 12%;
}
#trello{
    width: 12%;
}
#google{
    width: 12%;
}
#dropbox{
    width: 12%;
}
#slack{
    width: 12%;
}
#ditio_numbers{
    text-decoration: underline;
    color: red;

}
.stats{
    display: flex;
    gap: 12%;
}
.create_account{
    border: solid 1px;
    width: 21%;
    
}
#cube{
    width: 5%;
}
#imageknow{
    width: 51%;
    margin-right: 2%;
}
.product{
    border: solid 1px;
    background-color: rgb(241, 241, 252);
}
#product{
    text-decoration: underline;
    color: red;
    text-align: center;
}
.product_how{
    margin: 3%;
    gap: 5%;

}
.productes{
    display: flex;
    gap: 16%;
    margin: 10%;
    
}
.easy_interface{
    border: solid 1px;
    background-color: white;
    border-radius: 10%;
}
.fa-star{
    margin-left: 43%;
    margin-top: 12%;
    background-color: pink;
    width: 12%;
    
}
.transfers{
    border: solid 1px;
    background-color: white;
    border-radius: 10%;

}
#slides{
    width: 40px;
} 
.support_time{
    border: solid 1px;
    background-color: white;
    border-radius: 10%;
}
.some_words{
    text-align: center;
}
#some_words{
    text-decoration: underline;
    color: red;
}
.clients{
    display: flex;
    border: solid 1px;
    gap: 5%;
    width: 70%;
    margin-left: 12%;
    background-color: rgb(230, 237, 252);
    
    
}
.edwin{
    width: 30%;
    height: 20%;
    border: solid 1px;
    border-radius: 5%;
    margin-left: 12%;
    background-color: white;
}
#edwin{
    width: 18%;
}


.jackson{
    width: 35%;
    height: 18%;
    border: solid 1px;
    border-radius: 5%;
    margin-left: 12%;
    background-color: white;
}
#jackson{
    width: 25%;
}
.button_arrow{
    width: 3%;
    height: 35%;
    padding: 12px;
    margin-top: 12%;
    margin-left: 1%;
    border-radius: 60%;
    background-color: rgb(233, 89, 240);
    color: white;
    border: none;

}
.mobile_interface{
    border: solid 1px;
    width: 25%;
    border-radius: 10%;

}
#smartphone{
    width: 8%;
    margin: 12%;
    
}
.know{
    width: 40%;
    height: 20%;
    margin-left: 15px;
    margin-bottom:10px ;
    color: white;
    background-color: rgb(66, 66, 122);
   

}
.mobile_interface_image{
    margin-left: 200%;
}
.download{
    margin-left: 5%;
    display: flex;
    gap: 40%;
}
.lastimage{
    width:160%;
}
.apps_downloadlast{
    display: flex;
    gap: 3%;
}
.app_storelast{
    border: solid 1px;
    width: 20%;
    height: 20px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(54, 54, 70);
    border-radius: 8%;
}

.playstorelast{
    border: solid 1px;
    width: 8%;
    height: 2px;
    text-align: center;
    padding: 10px;
    border-radius: 8%;
}

.playstorelogolast{
    width: 20%;
    
   
}
.foot{
    background-color: rgb(31, 31, 46);
    color: white;
    display: flex;
    gap: 10%;
}
.platforms{
    margin-left: 18px;

}
.icons{
    gap: 5%;
}
.lists{
    list-style: none;
}
.terms{
    background-color: black;
    color: white;
    display: flex;
    gap: 50%;

}




